<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/homepage.css">
    <title>Techne</title>
</head>
<body>
<header>Techne</header>
<nav>
    <a href="">Login</a>
    <a href="">Recent Post</a>
</nav>
</body>
<div class="post box">
  <div class="post-title-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{postTitle}}
  </div>

  <div class="post-text">
    {{postText}}
  </div>
</div>
</html>