<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="css" href="public/loginpage.css">
    <title>Techne</title>
</head>
<body>
    
    <div class="login-signup">
        </div class="signUp">
            <button>Sign up</button>
            If you are a new user create an account!
        </div>
    
        <div class="login">
            <button>Login</button>
            If you are a returning user login!
        </div>
    </div>
</body>
</html>