<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techne</title>
</head>
<body>
    <div>If you are a new user create an account!</div>
    <button>Sign up</button>
    <div>
        If you are a returning user login!
    </div>
    <button>Login</button>
</body>
</html>